@import 'main.less';

* {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  padding: 75px + @base-padding 10% 0 10%;
}

header {
  position: relative;
  width: 100%;
  background: white;
  text-align: center;
}

#about_me {
  background: white;
  padding: @base-padding 5%;
}

#education {
  background: white;
  padding: @base-padding 5%;
}
