@import 'variables';

html {
  font-size: @base-font-size;
}

body {
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  img {
    position: absolute;
    left: 50%;
    top: -@image-size / 2px;
    margin-left: -@image-size / 2px;
  }
  h1 {
    padding-top: @image-size / 2 + @base-padding;
    padding-bottom: @base-padding;
  }
  h2 {
    padding-bottom: @base-padding;
  }
  hr {
    background: @gray-border-color;
    height: 1px;
    width: 90%;
    margin-left: 5%;
    border: none;
  }
}

#about_me {
  h2 {
    color: @primary-color;
  }
  p {
    margin-top: @base-margin;
  }
}

#education {
  h2 {
    color: @primary-color;
  }
  li {
    display: flex;
    margin: @base-margin 0;
  }
  .education_year {
    width: 10%;
  }
  .education_item {
    background: @gray;
    flex: 1;
    padding: @base-padding;
  }
}
